
- title  "Index"

%div What would you like to do today?

%div To search for anything (customers or products) just type in the search box and hit enter.

%div
  To see a list of all customers click
  = link_to 'here', customers_path

%div
  To see a list of all products click
  = link_to 'here', products_path
