
- title  "Index"

%p What would you like to do today?

%p To search for anything (customers or products) just type in the search box and hit enter.

%p
  To see a list of all customers click
  = link_to 'here', customers_path

%p
  To see a list of all products click
  = link_to 'here', products_path
